<img src="https://cs7.pikabu.ru/post_img/2014/03/10/4/1394427243_1353289544.jpg" height="400" width="400"> 

# <center> ML для маркетинга. <br>  <br> Cюжетная арка 2: отток и привлечение </center>

В этом семестре мы с вами пройдём через несколько сюжетных арок. Второй такой аркой будут отток и привлечение. Им будет посвящена вторая серия из семинаров и домашек. 


#  Часть I (Братство предобработки) 

Как вы уже успели усвоить, любой проект по машинному обучению начинается с предобработки данных. В этой тетрадке именно этим мы и займёмся. Опять. Но уже для другой маркетинговой задачи. Задачи оттока.

## Задача 

Иногда так бывает, что пользователи чёт приуныли. Когда пользователь приуныл, ему хочется свалить туда, где весело. Если он сваливает, это называется отток. Было бы круто спрогнозировать вероятность того, что пользователь собрался убежать и сделать жизниь тех, у кого эта вероятность высокая чуть веселее. Тогда пользователь перестанет унывать и останется с нами. Такую задачу мы и будем решать во второй сюжетной арке. В качестве примера [возьмём телеком.](https://www.kaggle.com/pavanraj159/telecom-customer-churn-prediction)

In [1]:
# Как обычно, для начала подгружаем нужные нам пакеты
import pandas as pd    # пакет для работы с таблицами 
import numpy as np     # пакет для работы с матрицами 

# пакеты для картиночек 
import matplotlib

import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')  # правильный (наиболее красивый) стиль у графиков

%matplotlib inline

## 1. Данные 

Подгрузим табличку и посмотрим какие переменные оказались у нас в распоряжении.

In [2]:
df = pd.read_csv('telecom_churn.csv')
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [8]:
df.shape

(3333, 20)

**Описание переменных:** 

* `State` —	Буквенный код штата
* `Account length` — Как долго клиент обслуживается компанией
* `Area code` — Префикс номера телефона
* `International plan` — Международный роуминг (подключен/не подключен)
* `Voice mail plan` — Голосовая почта (подключена/не подключена)
* `Number vmail messages` — Количество голосовых сообщений
* `Total day minutes` — Общая длительность разговоров днем
* `Total day calls` — Общее количество звонков днем
* `Total day charge` — Общая сумма оплаты за услуги днем
* `Total eve minutes` — Общая длительность разговоров вечеромй
* `Total eve calls` — Общее количество звонков вечером
* `Total eve charge` — Общая сумма оплаты за услуги вечером
* `Total night minutes` — Общая длительность разговоров ночью
* `Total night calls` — Общее количество звонков ночью
* `Total night charge` — Общая сумма оплаты за услуги ночью
* `Total intl minutes` — Общая длительность международных разговоров
* `Total intl calls` — Общее количество международных разговоров
* `Total intl charge` — Общая сумма оплаты за международные разговоры
* `Customer service calls` — Число обращений в сервисный центр

**Целевая переменная:** `Churn` — Признак оттока, бинарный признак ($1$ – потеря клиента, то есть отток).

Для начала давайте заведём два списка: из действительных переменных и категориальных.

In [ ]:
# Два списка

In [ ]:
df.info()

## 2. Целевая переменная 

Давайте посмотрим на целевую переменную. На её распределение. 

* Сбалансированно ли распределены люди, ушедшие из компании и оставшиеся в ней? 
* Почему дизбаланс классов это не очень хорошо?

## 3. Непрерывные переменные 

* Какие возникают проблемы?
* Что нужно сделать, чтобы их пофиксить? 
* На какие картики и описательные статистики можно посмотреть?

## 4. Категориальные переменные 

* Какие возникают проблемы? 
* Что нужно сделать, чтобы их пофиксить? 
* На какие кртинки и описательные статистики посмотреть?

## 5. Новые фичи 

* Как зачем и откуда?

## 6. Тестовый период

* Зачем и что будем с ним делать?

## Почиташки про телеком: 

* [Туториал по pandas](https://habr.com/ru/company/ods/blog/322626/) на телеком-датасете от ODS